@font-face {
    font-family: 'ModernNo20';
    src: url(../fonts/modern.tff) format('TrueType');
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,hr,th,td {margin:0; padding:0;}
h3,h4,h5,h6 {font-weight:700;} /* Colocar de acordo com a fonte do Google que tiver */
h1, h2 {font-weight:700;} /* Colocar de acordo com a fonte do Google que tiver */
small {font-weight:300; font-size:12px;} /* Colocar de acordo com a fonte do Google que tiver */
html {-webkit-font-smoothing: antialiased;}
html {font-size: 100%;}
strong, b {font-weight:700;} /* Colocar de acordo com a fonte do Google que tiver */
* {font-family: 'Montserrat', sans-serif;} /* Colocar de acordo com a fonte do Google que tiver */
body {color: #000000; background: #F6F6F6; font-weight:400; letter-spacing: -0.5px;}
.clear {width: 100%; clear: both; display: block; height: 0px;}
img {max-width: 100%;height: auto;}
a {transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */text-decoration:none; cursor:pointer; color: inherit}
.descricao a {
    border-bottom:1px dashed;
}
p {line-height: 24px; font-size: 14px;}
.container{width: 100%;position: relative;margin: 0px auto; box-sizing:border-box; padding: 0px 5%;}

.control-nav:before {content: "";display: block;height: 3px;background: #FFFFFF;}
.control-nav {position: absolute;right: 20px;top: 20px;display: block;width: 20px;padding: 5px 0;border: solid #FFFFFF;border-width: 3px 0;z-index: 2;cursor: pointer;}
.control-nav2 {position: absolute;right: 60px;top: 10px;display: block;width: 20px;height: 20px; z-index: 2;background: url(../img/icons/search.png) center center no-repeat;background-size: 20px;}
.control-nav-close {position: fixed;right: 0;top: 0;bottom: 0;left: 0;display: block;z-index: 1;background: rgba(0,0,0,0.4);-webkit-transition: all 500ms ease;transition: all 500ms ease;-webkit-transform: translate(100%, 0);-ms-transform: translate(100%, 0);transform: translate(100%, 0);}
.control-nav-close2 {position: fixed;right: 0;top: 0;bottom: 0;left: 0;display: block;z-index: 1;background: rgba(0,0,0,0.4);-webkit-transition: all 500ms ease;transition: all 500ms ease;-webkit-transform: translate(100%, 0);-ms-transform: translate(100%, 0);transform: translate(100%, 0);}
#control-nav:checked ~ .control-nav-close {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}
#control-nav:checked ~ .menu {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}
#control-nav2:checked ~ .control-nav-close2 {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}
#control-nav2:checked ~ .menuBusca {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);right: 0;}
input#control-nav {visibility: hidden;position: absolute;left: -9999px;opacity: 0;}
input#control-nav {visibility: visible;}
input#control-nav2 {visibility: hidden;position: absolute;left: -9999px;opacity: 0;}
input#control-nav2 {visibility: visible;}

header{width: 100%; position: absolute; z-index:9999; background:transparent; top:0px; left:0px; height:40px; padding:10px 0px; transition:all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;}
header.active {background: #000;position: fixed;}
header .container {}
header .logo {text-indent:-9999px; width:100px; height: 40px; background: url('../img/logo.png') no-repeat center center; background-size:100%; float: left;margin-left: 20px;}
header .menu {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    padding: 20px 0;
    color: #FFFFFF; 
    box-sizing:border-box;
    background: #0b0b0b;
    overflow-x: auto;
    z-index: 99;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
}
header .menu ul {list-style: none;margin: 0px 0px;}
header .menu ul li {display: block;text-align: center;border-left: 2px solid transparent;}
header .menu ul li:hover {border-left: 2px solid #ffffff;}
header .menu ul li a {color: #ffffff; display: inline-block; font-size: 14px; padding:13px 10px; position: relative;}
header .menuBusca {
    position: fixed;
    top: 0;
    right: -70%;
    bottom: 0;
    width: 70%;
    padding: 20px 10%;
    color: #FFFFFF; 
    box-sizing:border-box;
    background: #0b0b0b;
    overflow-x: auto;
    z-index: 99;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
}
header .menuBusca form input + label {transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */text-decoration:none;}
header .menuBusca form input::placeholder {color: #ffffff;}
header .menuBusca form input[type="radio"], .btn-radio {display: none;}
header .menuBusca form input[type=radio]+label,
.btn-radio +label {
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
    margin: 5px 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    background-color: black;
}
header .menuBusca form input[type=radio]:hover + label,
.btn-radio:hover + label,
header .menuBusca form input[type=radio]:checked + label,
.btn-radio:checked + label {background-color: #FFFFFF;color: #000000;}
header .menuBusca form input[type=text], header .menuBusca form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 2px 10px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    cursor: pointer;
    background: transparent;
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ffffff;
    margin: 8px 0;
    outline: 0;
    display: block;
    width: 100%;
}
header .menuBusca form select {text-align-last: center;}
header .menuBusca form select option {background: #000;color: #fff;}
.modalBairros {position: fixed;max-height: 70vh;overflow:auto;width: 80%;margin: 0 calc(10% - 15px); top: 5%; box-sizing:border-box; background: #000;color: #ffffff;text-align: left;z-index: 99;padding: 15px;opacity: 0;visibility: hidden;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */z-index: 99999;}
.modalBairros.open {opacity: 1;visibility: visible;}
.modalBairros.close {position: absolute;top: 10px;right: 10px;}
.modalBairros ul {list-style: none;display: inline-block;width: 95%;margin-bottom: 20px;}
.modalBairros input[name="todos"] + label {display: inline-block;width: 80%;}
.modalBairros h2 {font-size: 13px;font-weight: 400;margin-bottom: 10px;}
.modalBairros input[type="checkbox"] {margin: 5px 0 0;-webkit-appearance: none;border: 1px solid #fff;padding: 3px;}
.modalBairros input[type="checkbox"]:checked {background: #fff;outline: 0;}
.modalBairros label {margin: 5px 0;font-size: 13px;display: inline-block;padding: 0 5px;}
.modalBairros .bg-black { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: -1; }
header .menuBusca .areaRestrita {color: #ffffff;font-weight: 700;border-bottom: 1px solid transparent;font-size: 14px;margin-top: 5px;text-align: center;margin: 8px 0;display: block;}
header .menuBusca .areaRestrita:hover {border-bottom: 1px solid #fff;}
header .menuBusca form .filtros {float: right;border-top: 1px solid #3d3d3d;}
header .menuBusca form .filtros .item label {position: absolute;bottom: -10px;color: #ffffff;text-align: center;left: 50%;transform: translateX(-50%);font-size: 13px;}
header .menuBusca form .filtros .item {position: relative;width: 100%; padding: 40px 0px 20px 0px;text-align: center;box-sizing: border-box;margin: 20px 0;}
header .menuBusca .filtros .item.scaleUp .scale {top: -35px;}
header .menuBusca form button {border: none;background: rgba(0,0,0,.6);color: #ffffff;padding: 10px 20px;margin: 25px 0 0 0;font-size: 13px;display: block;width: 100%;}
header .menuBusca form button:hover {background: #000;cursor: pointer;}
header .menuBusca form button.limpar-busca {    font-size: 9px;padding: 13px;}


/*global*/
.modern {font-family: 'ModernNo20';}

.bannerTitulo {height: 150px;position: relative;}
.bannerTitulo h4 {font-size: 50px;text-align: center;line-height: 40px;position: absolute;width: 100%;font-weight: 400;color: #b7b7b7;letter-spacing: 15px;}
.bannerTitulo h5 {text-align: center;padding-top: 45px;font-size: 26px;font-weight: 100;color: #fff;}
.bannerTitulo.interna {height: 180px; background: linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  )  }
.bannerTitulo.interna h5 {font-size: 1.5em;padding-top: 60px;}
.bannerTitulo.interna h4 {font-size: 3.5em;bottom: 0;letter-spacing: 5px;}

/*thumbnail*/
.thumbnail {position: relative;height: 530px;background-position: center center;background-repeat: no-repeat;background-size: cover;}
.thumbnail .favoritos {position: absolute;top: 30px;left: 15px;color: #ffffff; cursor:pointer }
.thumbnail .favoritos:hover a, .thumbnail .favoritos.active a {border-bottom: 1px solid #ffffff;}
.thumbnail .favoritos:hover .far, .thumbnail .favoritos.active .far {font-weight: 700;}

.thumbnail .favoritos .adicionado {display: none;}
.thumbnail .favoritos.active .adicionado {display: inline-block;}
.thumbnail .favoritos.active .adicionar {display: none;}

.thumbnail .favoritos a {color: #ffffff;border-bottom: 1px solid transparent;}
.thumbnail .info {color: #ffffff;position: absolute;    top: 50%;left: 15px;transform: translateY(-50%);transition:all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;width:50%;font-size: 14px;}
.thumbnail .info strong {display: block;}
.thumbnail .infoDown {position: absolute;bottom: 20px;width: calc(100% - 60px);font-size: 15px;color: #ffffff;margin: 0 30px;transition:all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;}
.thumbnail .infoDown .col {display: inline-block;vertical-align: top;width: 20%;}
.thumbnail .infoDown .col:nth-of-type(even) {width: 55%;text-align: center;}
.thumbnail .infoDown .col:nth-of-type(3) {text-align: right;}
.thumbnail .infoDown .col + .col {}
.thumbnail .infoDown .icon {width: 25px;display: inline-block;margin: 0 5px 0 0;}
.thumbnail .promo {position: absolute;right:15px;text-align: center;color: #ffffff; transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */top: 50%;transform: translateY(-50%);}
.thumbnail .promo h3 {font-weight: 400;font-size: 30px;margin-bottom: 10px;}
.descricao {font-size: 15px;color: #000000;line-height: 30px;}
/*end*/

/*icones*/
.icon {background-position: center center;width: 100%;background-repeat: no-repeat;height: 24px;margin-bottom: 10px;}
.icon.house {background-image: url(../img/icons/house.png);}
.icon.ideal {background-image: url(../img/icons/ideal.png);}
.icon.venda {background-image: url(../img/icons/venda.png);}
.icon.aluga {background-image: url(../img/icons/aluga.png); height: 32px;}
.icon.imovel {background-image: url(../img/icons/imovel.png);}
.icon.heart {background-image: url(../img/icons/heart.png);}
.icon.news {background-image: url(../img/icons/news.png);}
.icon.phone {background-image: url(../img/icons/phone.png);}
.icon.bed {background-image: url(../img/icons/bed.png);}
.icon.size {background-image: url(../img/icons/size.png);}
.icon.car {background-image: url(../img/icons/car.png);}
/*end icons*/

/*banner*/
#owl-banner .item {background-position: top center;background-repeat: no-repeat;background-size: cover;height: 400px;position: relative;}
#owl-banner .item h2 {font-size: 28px;position: absolute;top: 150px;color: #ffffff;text-align: center;font-weight: 700;}
#owl-banner .item h2 > small {font-size: 28px;font-weight: 700;}
#owl-banner .owl-controls {display: none!important;}
/*end*/

/*carousel*/
.carousel {padding: 40px 0;}
.carousel-cell {margin-right: 20px;overflow: hidden;width: 100%;}
.carousel-cell img {display: block;height: 300px;}
.flickity-button {background: transparent;}
/*end*/

/*listagem*/
.listagem {padding: 40px 0;}
.listagem a {display: block;width: 100%;margin-bottom: 20px;}
.listagem a .thumbnail {height: 260px;background-size: cover;}
.listagem a .thumbnail .favoritos {top: 15px;}
/*end*/

/*pagination*/
.pagination {display: block;text-align: center;}
.pagination .fas {margin: 0 30px;color: #a7a7a7;}
.pagination .fas:hover {opacity: .6;}
.pagination ul {list-style: none;display: inline-block;}
.pagination ul li {display: inline-block;margin: 0 5px;}
.pagination ul li a {color: #000;transition: none;}
.pagination ul li.active a,.pagination ul li a:hover {font-weight: 800;}
/**/

/*botoes*/
.btn-white {padding: 5px 10px;background: #fff; border: 1px solid #000;color: #000;}
.btn-white:hover {background: #000;color: #fff;}
/*end*/

/*end*/

/*home*/
.home .venda {background: url(../img/titulo1.png) center center no-repeat;background-size: cover;}
.home .aluguel {background: url(../img/titulo2.jpg) center center no-repeat;background-size: cover;}

/*carousel produtos*/
.home .owl-destaques {margin: 30px 0;}
.home .owl-destaques .item {width: calc(100% - 40px);margin: 0 20px;position: relative;z-index: 99;}
.home .owl-destaques .link {position: absolute;height: 100%;width: 100%;}
.home .owl-destaques .link:hover {cursor: pointer;}
.home .owl-destaques .owl-buttons {position: absolute;width: 105%;text-align: left;top: 50%;left: 50%;transform: translate(-50%, -50%);height: 0px; }
.home .owl-destaques .owl-buttons .owl-next {float: right;}
.home .owl-destaques .owl-buttons .owl-next, .home .owl-destaques .owl-buttons .owl-prev {background: #000;color: #fff;font-size: 30px;opacity: 1;border-radius: 0;font-weight: 900;}
/*end*/

/*footer*/
#map {height: 300px;width: 100%;}

footer {background:linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(18, 58, 117, 1.6)
  ), url(../img/footer.jpg) no-repeat top center;background-size: cover;font-size: 14px;padding: 40px 0 10px;}
footer .column {display: block;width: 100%;text-align: center;color: #ffffff;margin-bottom: 20px;}
footer .logo {text-indent:-9999px; width:60%; height: 100px; background: url('../img/logo.png') no-repeat center center; background-size:100%; margin: 0 auto 20px;}
footer a {color: #ffffff;border-bottom: 1px solid transparent;}
footer a:hover {border-bottom-color: #fff;}
footer .menu ul {display: none;}
footer span {color: #ffffff;margin: 20px 0;display: block;}
footer h4 {margin-bottom: 15px;}
footer h4 a {border-bottom: 1px solid transparent;}
footer h4 a:hover {border-bottom-color: #ffffff;}
footer small {margin-top: 10px;display: block;}
footer .redesSociais {margin-top: 35px;}
footer .redesSociais a {display: inline-block;border: none;margin-right: 5px;}
footer .redesSociais a:hover {opacity: .6;}
footer .redesSociais a .fab {margin-right: 5px;font-size: 20px;}
footer .redesSociais a label {display: none;}
/*end*/

/*a ideal*/
.sobreInterna {padding: 40px 0;}
/*end*/

/*contato*/ 
.contato {padding: 40px 0 0;}
.contato h4 {font-weight: normal;}
.forms input, .forms textarea, .forms select {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
padding: 15px 15px;background: #cbcbcb;display: block;width: 100%;box-shadow: none;border: none;margin: 20px 0;outline: 0;resize: none;font-size: 15px;}
.forms input::placeholder, .forms textarea::placeholder {color: #000;font-size: 15px;}
.forms button {font-size: 18px;float: right;margin: 20px 0 75px;background: none;border: none;box-shadow: none;border-bottom: 1px solid transparent;}
.forms button:hover {border-bottom-color: #000;}
/*end*/

/*aluguel*/
.listagemInterna {padding: 40px 0;}
.listagemInterna .filtros span {text-align: center;display: block;}
.listagemInterna .filtros ul {display: block;text-align: center;}
.listagemInterna .filtros ul li {display: inline-block;margin: 0 5px;}
.listagemInterna .filtros ul li a {border-bottom: 1px solid transparent;}
.listagemInterna .filtros ul li.active a,
.listagemInterna .filtros ul li a:hover {border-bottom-color: #000;}
/*end*/

/*classificados*/
.classificados .thumbnail .info, .classificados .thumbnail .infoDown, .classificados .thumbnail .favoritos, .classificados .thumbnail .promo {z-index: 1;}
.classificados .thumbnail .bg-black {position: absolute;height: 100%;width: 100%;background: #000;z-index: 0;opacity: .3;}
/*end*/

/*interna-dados*/
.internaDados {padding: 40px 0;}
.internaDados a#voltarPesquisa {display: block;text-align: right;font-size: 18px;color: #000;}
.internaDados a .thumbnail {width: 100%;height: 200px;background-size: cover;}
.internaDados a:hover {text-decoration: underline;}
.internaDados .info {margin-top: 30px;}
.internaDados .info .column {display: block;width: 100%;vertical-align: top;}
.internaDados .info strong {margin: 0;display:inline-block}
.internaDados .item-info {display: flex;border-bottom: 1px solid black}
.internaDados .item-info:last-child {border-bottom: 1px solid transparent}
.internaDados .item-info .left {box-sizing:border-box;flex: 0 0 50%;border-right:1px solid black;padding: 15px 15px 15px 0}
.internaDados .item-info .right {box-sizing:border-box;flex: 0 0 50%;padding: 15px 0 15px 15px;display: flex;justify-content: center;align-items: center;}
.internaDados .info .box {margin: 20px 0;}
.internaDados .info .box .column {display: inline-block;vertical-align: top;width: 49%;}
.internaDados .info .box .column + .column {text-align: left;border-left: 1px solid #000;}
.internaDados .info .box .icon {-webkit-filter: grayscale(1) invert(1) brightness(1);filter: grayscale(1) invert(1) brightness(1);display: inline-block;width: 30px;margin: 0;}
.internaDados .info .box .icons {margin: 0 0 60px 50px;}
.internaDados .listra {padding: 20px;background: #64a8f9;font-weight: 700;font-size: 17px;}
.compartilhe {padding: 20px;}
.compartilhe ul {list-style: none;margin: 20px 0;}
.compartilhe ul li {width: 30%;display: inline-block;padding: 10px 0;border-radius: 3px;margin-top: 10px; text-align: center}
.compartilhe ul li a {color: #ffffff;font-size: 10px;text-align: center;}
.compartilhe ul li a i {margin-right: 5px;}
.compartilhe ul li.facebook {background: #475a95;}
.compartilhe ul li.twitter {background: #659fef;}
.compartilhe ul li.linkedin {background: #4b77b2;}
.compartilhe ul li.googleplus {background: #c05044;}
.compartilhe ul li.more {background: #d26350;}
.internaDados .tituloInterna {font-size: 2.5em;text-align: center;color: #c4c4c4;letter-spacing: 5px;font-weight: normal;margin-top: 40px;}
.internaDados .caracteristicasInterna .column {display: block;width: 80%;vertical-align: top;text-align: center;margin-top: 40px;line-height: 30px;margin-left:auto;margin-right:auto;}
.internaDados .descricaoInterna {position: relative;}
.internaDados .descricaoInterna .descricao {margin: 30px 0;padding: 0 5%;}
.internaDados .descricaoInterna h5, .internaDados .descricaoInterna h6 {position: absolute;font-size: 130px;color: #dddddd;}
.internaDados .descricaoInterna h5 {bottom: 0;right: 0;transform: rotate(180deg);line-height: 50%;}
.internaDados .descricaoInterna h6 {top: 0;left: 0;}
.internaDados .carousel {padding: 0;margin-top: 20px;}

#tenho-interesse {position: fixed;bottom: 20%;right: -150px;z-index: 99;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
#tenho-interesse a {color: #000000;padding: 10px;background: #000000;border-left: 3px solid #ffffff;}
#tenho-interesse a .fas {color: #fff;}

.modal {position: fixed;z-index: 999;opacity: 0;visibility: hidden;height: 100%;width: 100%;transition: all .5s;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
.modal.open {opacity: 1;visibility: visible;}
.modal .box {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 80%;background: #fff;padding: 20px 5%;text-align: center;margin: 0 auto;}
.modal .box h2 {margin-top: 30px;font-weight: 500;}
.modal .box h6 {font-weight: 400;font-size: 15px;margin: 20px 0 40px;}
.modal .box .forms input, .modal .box .forms textarea {padding: 5px;margin: 10px 0;}
.modal .box .forms button {margin: 10px 0;font-size: 15px;}
.modal .bg-black {height: 100%;width: 100%;background: rgba(0,0,0,.8);}

/*end*/


/*noticias*/

.noticias {padding: 40px 0;}
.noticias .item {margin-bottom: 50px;}
.noticias .column {display: block;width: 100%;vertical-align: top;}
.noticias h2 {font-size: 20px; text-transform: uppercase;}
.noticias .data {display: block;margin: 15px 0 30px;}
.noticias .imagem {height: 230px;position: relative;display: inline-block;width: 100%;margin-bottom: 20px;}
.noticias .imagem img {width: 100%;height: inherit;object-fit: cover;display: block;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
.noticias .descricao {display: block;width: 100%;font-size: 16px;}
.noticias .saiba-mais {display: block;margin-top: 15px;}
.noticias .saiba-mais a {font-size: 15px;color: #000;font-weight: 500;}
.noticias .saiba-mais hr {width: 30px;border-bottom: 1px solid #000;color: transparent;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */margin-top: 10px;}
.noticias .saiba-mais a:hover + hr {width: 100px;}
.noticias .noticias-destaque .imagem {height: 240px;width: 100%;overflow: hidden;}
.noticias .noticias-destaque .owl-carousel {margin-top: 30px;}
.noticias .noticias-destaque .owl-carousel a {color: #000000;}
.noticias .noticias-destaque .owl-carousel .info {display: block;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
.noticias .noticias-destaque .owl-carousel a:hover .info {opacity: .6;}
.noticias .noticias-destaque .owl-carousel a:hover img {transform: scale(1.1);}
.noticias .noticias-destaque .owl-carousel .owl-controls {position: absolute;position: absolute;top: 30%;transform: translateY(-30%);width: 100%;height: 0px;}
.noticias .noticias-destaque .owl-carousel .owl-controls .owl-prev {float: left;margin-left:0;}
.noticias .noticias-destaque .owl-carousel .owl-controls .owl-next {float: right;margin-right:0;}
.noticias .noticias-destaque .owl-carousel .owl-controls .owl-prev,
.noticias .noticias-destaque .owl-carousel .owl-controls .owl-next {background: white;color: #000;font-size: 20px;opacity: 1;border-radius: 0}
.noticias ul {list-style: none;margin: 20px 0;}
.noticias .noticias-arquivos ul li {margin: 15px 0;}
.noticias .noticias-arquivos ul li a {font-size: 18px;letter-spacing: 2px;font-weight: 300;color: #000000;}
.noticias .noticias-arquivos ul li a:hover {opacity: .6;}

.noticias .noticias-pagination ul li {margin-right: 10px;display: inline-block;}
.noticias .noticias-pagination ul li a {color: #000;border-bottom: 1px solid transparent;}
.noticias .noticias-pagination ul li.active a,
.noticias .noticias-pagination ul li a:hover {border-bottom: 1px solid #000;}
/*end*/

/*noticiasInterna*/
.noticias.noticiasInterna .descricao {width: 100%;margin: 40px 0;}
.noticias.noticiasInterna .descricao ul {list-style-type: disc; padding-left:20px;}
.noticias.noticiasInterna .descricao img {height:auto!important;}
.noticias.noticiasInterna img.top {min-width: 300px;max-width: 50%;display:block;margin: 0 auto;}
.noticias.noticiasInterna .compartilhe {width: 60%;padding: 0;}
.noticias.noticiasInterna .compartilhe ul li {text-align: center;}
/*end*/

/*vendaSeuImovel*/
.vendaImovel {margin: 40px 0;}
.vendaImovel h2 {margin-bottom: 20px;font-weight: 400;font-size: 20px;}
.vendaImovel h2 {margin-top: 40px;}
.vendaImovel .column {display: inline-block;width: 100%;}
.vendaImovel .forms input,.vendaImovel .forms textarea, .vendaImovel .forms select {margin: 0 0 20px;}
.vendaImovel .col30 {width: 32%;}
.vendaImovel .fone .col30 {width: 30%;}
.vendaImovel .fone .col70 {width: 67%;}
.vendaImovel .dados .col30 {width: 100%;}
.vendaImovel .col70 {width: 65%;margin-left: 1.5%;}
.vendaImovel .forms button {margin-left: 10px;}
.forms select {}

/* ja sou cliente */
.ja-sou-cliente {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.ja-sou-cliente input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.ja-sou-cliente .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #cbcbcb;
}



/* When the checkbox is checked, add a blue background */
.ja-sou-cliente input:checked ~ .checkmark {
    background-color: #cbcbcb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ja-sou-cliente .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.ja-sou-cliente input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.ja-sou-cliente .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*end*/

/*favoritos*/
.favoritosInterna .listagem a {width: 48%;display: inline-block;}
.favoritosInterna .listagem a:nth-of-type(even) {margin-left: 1.5%;}
.favoritosInterna .listagem .thumbnail .info {left: 10px;}
.favoritosInterna .listagem .thumbnail .infoDown {width: calc(100% - 20px); margin: 0 10px;}
.favoritosInterna .fa-pull-right {float: none;}
.favoritosInterna .btn-white {display: block;width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin-bottom: 10px;}
/*end*/


.detalhes {width:100%;background: #0b0b0b; box-sizing:border-box; padding:20px 0; position: relative; text-align: center;}
.detalhes .container{ height: 100%;}
.detalhes h1 {font-size: 36px; line-height: 35px; text-align: center; color:#e1e1e1; float: left; width: 100%; margin-bottom: 20px; box-sizing: border-box}
.detalhes h1 small {font-size: 20px; }
.detalhes .link { color: #4a4a4a; font-size: 20px; z-index: 1; margin-bottom: 33px; float: left; text-align: left; box-sizing: border-box}
.detalhes .link:hover {color: #fff}
.detalhes .favoritar { padding: 0 5px 0 30px; color: #4a4a4a; font-size: 20px; z-index: 1; margin-bottom: 33px; float: right; width: auto; text-align: right; box-sizing: border-box; color:#e9e9e9;}
.detalhes .favoritar i { font-weight: 400;}
.detalhes .infos { float: left; width: 100%; text-align: center; color: #e9e9e9; font-size: 28px;  box-sizing: border-box; margin-top: 10px; }
.detalhes .infos i {color: #2980b9; margin-right: 5px;}
.detalhes .infos i + i {margin-left: 25px;}
.detalhes .infos .preco {display:inline-block; text-align: left; line-height: 30px;font-size: 35px;font-weight: bold;}
.detalhes .infos .preco span {font-size: 20px;font-weight: 400;}


#interesse{width: 100%;
}

#interesse button { margin-left: 20%; margin-bottom: 15px; background: #000; border: none; color: #fff; border-radius: 5px; font-size: 20px; width: 200px; margin-top: 50px; transition: all .3s ease; cursor: pointer;  border: 1px solid #000;  }
#interesse button:hover { background: #fff; color: #000; border: 1px solid #000; border-radius: 5px; }

