






@font-face {
	font-family: 'ModernNo20';
	src: url(../fonts/modern.tff) format('TrueType');
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,hr,th,td {margin:0; padding:0;}
h3,h4,h5,h6 {font-weight:700;} /* Colocar de acordo com a fonte do Google que tiver */
h1, h2 {font-weight:700;} /* Colocar de acordo com a fonte do Google que tiver */
small {font-weight:300; font-size:12px;} /* Colocar de acordo com a fonte do Google que tiver */
html {-webkit-font-smoothing: antialiased;}
html {font-size: 100%;}
strong, b {font-weight:700;} /* Colocar de acordo com a fonte do Google que tiver */
* {font-family: 'Montserrat', sans-serif;} /* Colocar de acordo com a fonte do Google que tiver */
body {color: #000000; background: #F6F6F6; font-weight:400; letter-spacing: 1px;overflow-x: hidden;}
.clear {width: 100%; clear: both; display: block; height: 0px;}
img {max-width: 100%;height: auto;}
a, button {transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */text-decoration:none; cursor:pointer;color:inherit}
.descricao a {
    border-bottom:1px dashed;
}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
p {line-height: 24px; font-size: 14px;}
.container{width: 1080px;position: relative;margin: 0px auto; }
.control-nav:before {content: "";display: block;height: 3px;background: #FFFFFF;}
.control-nav {position: absolute;display: block;top: 100px;left: calc(50% - 560px);transform: translateX(-50%);width: 30px;padding: 7px 0;border: solid #FFFFFF;border-width: 3px 0;z-index: 2;cursor: pointer;}
.control-nav-close {position: fixed;right: 0;top: 0;bottom: 0;left: 0;display: block;z-index: 1;background: rgba(0,0,0,0.4);-webkit-transition: all 500ms ease;transition: all 500ms ease;-webkit-transform: translate(-100%, 0);-ms-transform: translate(-100%, 0);transform: translate(-100%, 0);}
#control-nav:checked ~ .control-nav-close {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}
#control-nav:checked ~ .menu {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}
#control-nav2 {display: none;visibility: hidden;}
input#control-nav {visibility: hidden;position: absolute;left: -9999px;opacity: 0;}
input#control-nav {visibility: visible;}
input#control-nav2 {visibility: hidden;position: absolute;left: -9999px;opacity: 0;}
input#control-nav2 {visibility: visible;}
header{width: 100%; position: absolute; padding:20px 0px; transition:all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;z-index: 2;}
header .container {}
header .logo {text-indent:-9999px; width:200px; height: 60px; background: url('../img/logo.png') no-repeat center center; background-size:100%;position: absolute;top: 10px;left: calc(50% - 490px);transform: translateX(-50%);}
header .menu {position: absolute;top: 0; left: 0;background: rgba(0,0,0,.6);height: 100vh;}
header .menu ul {list-style: none;margin: 0px 0px; float: right;width: 135px;}
header .menu ul li {display: block;text-align: center;border-left: 2px solid transparent;}
header .menu ul li:hover {border-left: 2px solid #ffffff;}
header .menu ul li a {color: #ffffff; display: inline-block; font-size: 11px; padding:13px 10px; position: relative;}
header .menuBusca .menu2 {width: 100%;text-align: center;padding-bottom: 25px;}
header .menuBusca .filtros .item.scaleUp .scale {top: -35px;}
header .menuBusca form input + label {transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */text-decoration:none;}
header .menuBusca form input::placeholder {color: #ffffff;}
header .menuBusca form input[type="radio"], .btn-radio {display: none;}
header .menuBusca form input[type=radio]+label,
.btn-radio +label {
    color: #ffffff;
    font-size: 11px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-right: 1%;
    background-color: black;
}
header .menuBusca form input[type=radio]:hover + label,
.btn-radio:hover + label,
header .menuBusca form input[type=radio]:checked + label,
.btn-radio:checked + label
 {background-color: #FFFFFF;color: #000000;}
header .menuBusca form input[type=text], header .menuBusca form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 40px;
    font-size: 11px;
    padding: 2px 10px;
    width: 146px;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    vertical-align: middle;
    cursor: pointer;
    background: transparent;
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ffffff;
    outline: 0;
}
header .menuBusca form select option {background-color: #000;border: none;}
.modalBairros {position: absolute;height: 300px;width: auto;background: #000;color: #ffffff;text-align: left;top: 50px;right: calc(50% - 570px); z-index: 99;padding: 15px;opacity: 0;visibility: hidden;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
.modalBairros.modalTipoImovel {
    left: 0;
    right: auto;
}
.modalBairros.open {opacity: 1;visibility: visible;overflow: auto}
.modalBairros .close {position: absolute;top: 10px;right: 10px;}
.modalBairros ul {list-style: none;display: inline-block;float:left;}
.modalBairros input[name="todos"] + label {display: inline-block;width: 80%;}
.modalBairros h2 {font-size: 13px;font-weight: 400;margin-bottom: 10px;}
.modalBairros input[type="checkbox"] {margin: 5px 0 0;-webkit-appearance: none;border: 1px solid #fff;padding: 3px;}
.modalBairros input[type="checkbox"]:checked {background: #fff;outline: 0;}
.modalBairros label {margin: 5px 0;font-size: 13px;display: inline-block;padding: 0 5px;}
.modalBairros .bg-black { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: -1; }

header .menuBusca .areaRestrita {color: #ffffff;font-weight: 700;border-bottom: 1px solid transparent;padding-bottom: 5px;float: right; font-size: 11px;margin-top: 5px;}
header .menuBusca .areaRestrita:hover {border-bottom: 1px solid #fff;}
header .menuBusca form .filtros {float: right;border-top: 1px solid #3d3d3d;padding-left:40px;}
header .menuBusca form .filtros .item label {position: absolute;bottom: -10px;color: #ffffff;text-align: center;left: 50%;transform: translateX(-50%);font-size: 13px;}
header .menuBusca form .filtros .item {position: relative;float: left;width: 180px;padding: 40px 0px 20px 0px;text-align: center;box-sizing: border-box;margin-right: 52px;}
header .menuBusca form button {border: none;background: rgba(0,0,0,.2);color: #ffffff;padding: 10px 20px;margin: 10px 0 0 0;font-size: 13px;}
header .menuBusca form button:hover {background: #000;cursor: pointer;}
header .menuBusca form button.limpar-busca {    font-size: 9px;padding: 13px;}

header .menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: #FFFFFF; 
    box-sizing:border-box;
    background: #0b0b0b;
    overflow-x: auto;
    z-index: 99;
    width: 135px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}
header .menu::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.3);background-color: #060606;}
header .menu::-webkit-scrollbar{width: 10px;background-color: #000000;}
header .menu::-webkit-scrollbar-thumb{background-color: #000000;border: 1px solid #333333;border-radius: 20px;}

/*global*/
.modern {font-family: 'ModernNo20';}

.bannerTitulo {height: 300px;position: relative;}
.bannerTitulo h4 {font-size: 170px;text-align: center;line-height: 300px;position: absolute;width: 100%;font-weight: 400;color: #b7b7b7;letter-spacing: 15px;}
.bannerTitulo h5 {text-align: center;padding-top: 75px;font-size: 48px;font-weight: 100;color: #fff;}
.bannerTitulo.interna {height: 350px; 
    background: rgba(0, 0, 0, 0.6); 
 }
.bannerTitulo.interna h5 {font-size: 40px;padding-top: 190px;}
.bannerTitulo.interna h4 {font-size: 145px;line-height: 200px;bottom: 0;}

.thumbnail {position: relative;height: 430px;background-position: center center;background-repeat: no-repeat;background-size: cover;box-shadow: inset 1px 50px 50px 0px rgba(0,0,0,0.8);transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
.thumbnail:hover {box-shadow: inset 1px 50px 50px 0px rgba(0,0,0,0.9), inset 0px -80px 51px 0px rgba(0,0,0,0.9);}
.thumbnail:hover .info {opacity: 1;visibility: visible;}
.thumbnail:hover .infoDown {opacity: 1;visibility: visible;}
.thumbnail .favoritos {position: absolute;top: 30px;left: 30px;color: #ffffff; cursor: pointer}
.thumbnail .favoritos:hover a, .thumbnail .favoritos.active a {border-bottom: 1px solid #ffffff;}
.thumbnail .favoritos:hover .far, .thumbnail .favoritos.active .far {font-weight: 700;}
.thumbnail .favoritos .adicionado {display: none;}
.thumbnail .favoritos.active .adicionado {display: inline-block;}
.thumbnail .favoritos.active .adicionar {display: none;}

.thumbnail .favoritos a {color: #ffffff;border-bottom: 1px solid transparent;}
.thumbnail .info {color: #ffffff;position: absolute;    bottom: 60px;left: 30px;opacity: 0;visibility: hidden;transition:all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;}
.thumbnail .info strong {display: block;}
.thumbnail .infoDown {position: absolute;display:flex;justify-content:space-around;bottom: 20px;width: calc(100% - 60px);font-size: 15px;color: #ffffff;margin: 0 30px;opacity: 0;visibility: hidden;transition:all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;}
.thumbnail .infoDown .col {flex:1 1 auto;vertical-align: top;}
.thumbnail .infoDown .col:nth-of-type(even) {text-align: center;}
.thumbnail .infoDown .col:nth-of-type(3) {text-align: right;}
.thumbnail .infoDown .col + .col {}
.thumbnail .infoDown .icon {width: 25px;display: inline-block;margin: 0 5px 0 0;}
.thumbnail .promo {position: absolute;width: 100%;text-align: center;color: #ffffff; transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */visibility: hidden;opacity: 0;top: 50%;transform: translateY(-50%);}
.thumbnail:hover .promo {visibility: visible;opacity: 1;}
.thumbnail .promo h3 {font-weight: 400;font-size: 50px;margin-bottom: 10px;}
.descricao {font-size: 15px;color: #000000;line-height: 30px;}


/*carousel*/
.carousel {padding: 40px 0;margin-top: 50px;}
.carousel-cell {
    transition: transform .4s ease, filter .4s ease;
}
.carousel-cell[aria-selected=false] {
    transform: scale(.8);
    filter: grayscale(100%);
    transform-origin: center center;
}
.carousel-cell {margin-right: 0;overflow: hidden;}
.carousel-cell img {display: block;height: 400px;width: 100%;min-width: 800px;object-fit: cover;}
.flickity-button {background: transparent;}
.flickity-viewport {overflow: visible}
/*end*/

/*listagem*/
.listagem {padding: 40px 0;}
.listagem a {display: inline-block;width: 30%;margin-bottom: 30px;}
.listagem a:nth-child(3n-1) {margin-left: 4.5%;margin-right: 4.5%;}
/*end*/

/*pagination*/
.pagination {display: block;text-align: center;}
.pagination .fas {margin: 0 30px;color: #a7a7a7;}
.pagination .fas:hover {opacity: .6;}
.pagination ul {list-style: none;display: inline-block;}
.pagination ul li {display: inline-block;margin: 0 5px;}
.pagination ul li a {color: #000;transition: none;}
.pagination ul li.active a,.pagination ul li a:hover {font-weight: 800;}
/**/

/*botoes*/
.btn-white {padding: 5px 10px;background: #fff; border: 1px solid #000;color: #000;}
.btn-white:hover {background: #000;color: #fff;}
/*end*/


/*end*/

/*icones*/
.icon {background-position: center center;width: 100%;background-repeat: no-repeat;height: 24px;margin-bottom: 10px;}
.icon.house {background-image: url(../img/icons/house.png);}
.icon.ideal {background-image: url(../img/icons/ideal.png);}
.icon.venda {background-image: url(../img/icons/venda.png);}
.icon.aluga {background-image: url(../img/icons/aluga.png); height: 32px;}
.icon.imovel {background-image: url(../img/icons/imovel.png);}
.icon.heart {background-image: url(../img/icons/heart.png);}
.icon.news {background-image: url(../img/icons/news.png);}
.icon.phone {background-image: url(../img/icons/phone.png);}
.icon.bed {background-image: url(../img/icons/bed.png);}
.icon.size {background-image: url(../img/icons/size.png);}
.icon.car {background-image: url(../img/icons/car.png);}
/*end icons*/

/*banner*/
#owl-banner .item {background-position: top center;background-repeat: no-repeat;background-size: cover;height: 100vh;position: relative;}
#owl-banner .item h2 {font-size: 50px;position: absolute;top: 70vh;left: calc(50% - 500px);color: #ffffff;}
#owl-banner .item h2 > small {display: block;font-size: 50px;font-weight: 100;}
#owl-banner .owl-controls {position: absolute;top: 50%;right: calc(50% - 540px);transform: translate(100%, 0%)}
#owl-banner .owl-controls .owl-page {display: block;}
#owl-banner .owl-controls .owl-page + .owl-page {margin-top: 16px;}
#owl-banner .owl-controls span {width: 16px;height: 16px;opacity: 1;background: #ffffff;}
#owl-banner .owl-controls .owl-page.active span,
#owl-banner .owl-controls span:hover {background: #372f29;}
/*end*/


/*home*/
.home .venda {background: url(../img/titulo1.png) center center no-repeat;background-size: cover;}
.home .aluguel {background: url(../img/titulo2.jpg) center center no-repeat;background-size: cover;}

/*carousel produtos*/
.home .owl-destaques {margin: 65px 0;}
.home .owl-destaques .item {width: calc(100% - 40px);margin: 0 20px;position: relative;z-index: 99;}
.home .owl-destaques .link {position: absolute;height: 100%;width: 100%;}
.home .owl-destaques .link:hover {cursor: pointer;}
.home .owl-destaques .owl-buttons {position: absolute;width: 110%;text-align: left;top: 50%;left: 50%;transform: translate(-50%, -50%);height: 0px; }
.home .owl-destaques .owl-buttons .owl-next {float: right;}
.home .owl-destaques .owl-buttons .owl-next, .home .owl-destaques .owl-buttons .owl-prev {background: none;color: #a7a7a7;font-size: 30px;}
/*end*/

/*footer*/
#map {height: 300px;width: 100%;}

footer {background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(18, 58, 117, 1.6)
  ), url(../img/footer.jpg) no-repeat top center;background-size: cover;font-size: 14px;padding: 165px 0 130px;}
footer .column {display: inline-block;vertical-align: top;width: 24.5%;text-align: left;color: #ffffff;}
footer .logo {text-indent:-9999px; width:260px; height: 90px; background: url('../img/logo.png') no-repeat center center; background-size:100%; float: left;}
footer a {color: #ffffff;border-bottom: 1px solid transparent;}
footer a:hover {border-bottom-color: #fff;}
footer .menu ul {list-style: none;}
footer .menu ul li {margin: 5px 0;}
footer .menu ul li a {border-bottom: 1px solid transparent;}
footer .menu ul li a:hover {border-bottom: 1px solid #fff;}
footer span {color: #ffffff;margin: 25px 0 40px;display: block;}
footer h4 {margin-bottom: 15px;}
footer h4 a {border-bottom: 1px solid transparent;}
footer h4 a:hover {border-bottom-color: #ffffff;}
footer small {margin-top: 10px;display: block;}
footer .redesSociais {margin-top: 35px;}
footer .redesSociais a {display: block;margin-bottom: 10px;border: none;}
footer .redesSociais a:hover {opacity: .6;}
footer .redesSociais a .fab {margin-right: 5px;font-size: 20px;}
/*end*/

/*a ideal*/
.sobreInterna {padding: 100px 0;}
/*end*/

/*contato*/ 
.contato {padding: 90px 0 0;}
.contato h4 {font-weight: normal;}
.forms input, .forms textarea, .forms select {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
padding: 15px 30px;background: #cbcbcb;display: block;width: 100%;box-shadow: none;border: none;margin: 20px 0;outline: 0;resize: none;font-size: 15px;-webkit-appearance: none;appearance:unset;}
.forms select {padding-right:60px;}
.forms .arrow-select {position: relative;}
.forms .arrow-select::after {content:"";position: absolute;top:50%;transform: translateY(-50%);right: 15px;width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f2f2f;
display: block;
z-index: 2;}
.forms input::placeholder, .forms textarea::placeholder {color: #000;font-size: 15px;}
.forms button {font-size: 18px;float: right;margin: 20px 0 75px;background: none;border: none;box-shadow: none;border-bottom: 1px solid transparent;}
.forms button:hover {border-bottom-color: #000;}
/*end*/

/*aluguel*/
.listagemInterna {padding: 100px 0;}
.listagemInterna .filtros span {text-align: left;display: inline-block;}
.listagemInterna .filtros ul {display: inline-block;float: right;}
.listagemInterna .filtros ul li {display: inline-block;margin: 0 5px;}
.listagemInterna .filtros ul li a {border-bottom: 1px solid transparent;}
.listagemInterna .filtros ul li.active a,
.listagemInterna .filtros ul li a:hover {border-bottom-color: #000;}
/*end*/

/*classificados*/
.thumbnail:hover .bg-black {opacity: .6;visibility: visible;}
.thumbnail .info,  .thumbnail .infoDown,  .thumbnail .favoritos,  .thumbnail .promo {z-index: 1;}
.thumbnail .bg-black {position: absolute;height: 100%;width: 100%;background: #000;opacity: 0;visibility: hidden;z-index: 0;}
/*end*/

/*interna-dados*/
.internaDados {padding: 20px 0;}
.internaDados a#voltarPesquisa {display: block;text-align: right;font-size: 18px;color: #000;}
.internaDados a:hover {text-decoration: underline;}
.internaDados .info {margin-top: 30px;}
.internaDados .info .column {display: inline-block;width: 30%;vertical-align: top;}
.internaDados .info .column + .column {width: 60%;margin-left: 9.5%;background: #ffffff;box-shadow: 1px 1px 20px rgba(0,0,0,0.3);}
.internaDados .info .box {padding: 40px 30px 50px;position: relative;}
.internaDados .info .box h2 {margin-bottom: 20px;}
.internaDados .info .box .left, .internaDados .info .box .right {padding: 25px 0;}
.internaDados .info .box .left {width: 50%;}
.internaDados .info .box .right {width: 50%;text-align: center;font-weight: 700;}
.internaDados .info .box .column {display: inline-block;vertical-align: top;width: 49%;}
.internaDados .info .box .column + .column {text-align: left;border-left: 1px solid #000;margin-left: 0.5%;box-shadow: none;}
.internaDados .info .box .item-info {font-size: 22px;font-style: italic;display: flex;flex-flow: row;align-items: center;justify-content: space-between;}
.internaDados .info .box .item-info + .item-info {border-top: 1px solid #000;}
.internaDados .info .box .item-info strong {font-weight: 700;font-style: normal;display: block;}
.internaDados .info .box .icon {-webkit-filter: grayscale(1) invert(1) brightness(1);filter: grayscale(1) invert(1) brightness(1);display: inline-block;width: 30px;margin: 0;}
.internaDados .info .box .icons {margin: 0 0 60px 100px;}
.internaDados .listra {padding: 20px;background: #64a8f9;font-weight: 700;font-size: 17px;}
.compartilhe {padding: 20px;}
.compartilhe ul {list-style: none;margin: 40px 0;}
.compartilhe ul li {width: 19%;display: inline-block;border-radius: 3px; text-align: center;}
.compartilhe ul li + li {margin-left: .3%;}
.compartilhe ul li a {color: #ffffff;font-size: 12px;text-align: center;line-height: 40px;display: inline-block;letter-spacing: -0.5px;font-weight: 500;}
.compartilhe ul li a:hover {text-decoration: none;opacity: .6;}
.compartilhe ul li a i {margin-right: 5px;}
.compartilhe ul li.facebook {background: #475a95;}
.compartilhe ul li.twitter {background: #659fef;}
.compartilhe ul li.linkedin {background: #4b77b2;}
.compartilhe ul li.googleplus {background: #c05044;}
.compartilhe ul li.more {background: #d26350;}
.compartilhe span {font-style: italic;font-weight: 300;font-size: 14px;display: block;}

.internaDados .tituloInterna {font-size: 120px;text-align: center;color: #c4c4c4;letter-spacing: 10px;font-weight: normal;margin-top: 100px;width: 100%;}
.internaDados .caracteristicasInterna {display: flex;flex-wrap: wrap;justify-content: space-around;}
.internaDados .caracteristicasInterna .column {width: 33.3%;text-align: left;margin-top: 80px;line-height: 30px;}

.internaDados .descricaoInterna {position: relative;}
.internaDados .descricaoInterna .descricao {margin: 25px 0;padding: 0 5%;}
.internaDados .descricaoInterna h5, .internaDados .descricaoInterna h6 {position: absolute;font-size: 450px;color: #dddddd;}
.internaDados .descricaoInterna h5 {bottom: 0;right: calc(50% - 700px);transform: rotate(180deg);line-height: 50%;}
.internaDados .descricaoInterna h6 {top: 0;left: calc(50% - 700px);}
.internaDados .carousel {padding: 0;}

#tenho-interesse {position: fixed;bottom: 40%;right: -170px;z-index: 99;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
#tenho-interesse a {color: #000000;padding: 20px;background: #000000;border-left: 3px solid #ffffff;}
#tenho-interesse a .fas {color: #fff;}
#tenho-interesse:hover {right: 0;}
#tenho-interesse:hover a {background: #ffffff;border-color: #000000;}
#tenho-interesse:hover a .fas {color: #000;}

.interesse{position: relative !important;}

.modal {position: fixed;z-index: 999;opacity: 0;visibility: hidden;height: 100%;width: 100%;transition: all .5s;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
.modal.open {opacity: 1;visibility: visible;}
.modal .box {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 600px;background: #fff;padding: 20px 10%;text-align: center;}
.modal .box h2 {margin-top: 30px;font-weight: 500;}
.modal .box h6 {font-weight: 400;font-size: 15px;margin: 20px 0 40px;}
.modal .box .forms input, .modal .box .forms textarea {padding: 5px;margin: 10px 0;}
.modal .box .forms button {margin: 10px 0;font-size: 15px;}
.modal .bg-black {height: 100%;width: 100%;background: rgba(0,0,0,.8);}

/*end*/

/*noticias*/

.noticias {padding: 75px 0;}
.noticias .item {margin-bottom: 100px;}
.noticias .column {display: inline-block;width: 60%;vertical-align: top;}
.noticias .column + .column {width: 35%;margin-left: 4.5%;}
.noticias h2 {font-size: 20px; text-transform: uppercase;}
.noticias .data {display: block;margin: 15px 0 30px;}
.noticias .imagem {height: 175px;position: relative;display: inline-block;width: 35%;}
.noticias .imagem img {width: 100%;height: inherit;object-fit: cover;display: block;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
.noticias .descricao {display: inline-block;width: 60%;margin-left: 4%;vertical-align: top;font-size: 16px;}
.noticias .saiba-mais {display: block;margin-top: 15px;}
.noticias .saiba-mais a {font-size: 13px;color: #000;font-weight: 500;}
.noticias .saiba-mais hr {width: 30px;border-bottom: 1px solid #000;color: transparent;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
.noticias .saiba-mais a:hover + hr {width: 100px;}
.noticias .noticias-destaque .imagem {height: 240px;width: 100%;overflow: hidden;}
.noticias .noticias-destaque .owl-carousel {margin-top: 30px;}
.noticias .noticias-destaque .owl-carousel a {color: #000000;}
.noticias .noticias-destaque .owl-carousel .info {margin-top: 30px;display: block;transition:all 0.5s;-moz-transition: all 0.5s; /* Firefox 4 */-webkit-transition: all 0.5s; /* Safari and Chrome */-o-transition: all 0.5s; /* Opera */}
.noticias .noticias-destaque .owl-carousel a:hover .info {opacity: .6;}
.noticias .noticias-destaque .owl-carousel a:hover img {transform: scale(1.1);}
.noticias .noticias-destaque .owl-carousel .owl-controls {position: absolute;position: absolute;top: 25%;transform: translateY(-25%);width: 100%;height: 0px;}
.noticias .noticias-destaque .owl-carousel .owl-controls .owl-prev {float: left;margin-left:0;}
.noticias .noticias-destaque .owl-carousel .owl-controls .owl-next {float: right;margin-right:0;}
.noticias .noticias-destaque .owl-carousel .owl-controls .owl-prev,
.noticias .noticias-destaque .owl-carousel .owl-controls .owl-next {background: white;color: #000;font-size: 20px;padding: 10px;opacity: 1;border-radius: 0;margin-top: -20px;}
.noticias ul {list-style: none;margin-top: 40px;}
.noticias .noticias-arquivos ul li {margin: 15px 0;}
.noticias .noticias-arquivos ul li a {font-size: 18px;letter-spacing: 2px;font-weight: 300;color: #000000;}
.noticias .noticias-arquivos ul li a:hover {opacity: .6;}

.noticias .noticias-pagination ul li {margin-right: 10px;display: inline-block;}
.noticias .noticias-pagination ul li a {color: #000;border-bottom: 1px solid transparent;}
.noticias .noticias-pagination ul li.active a,
.noticias .noticias-pagination ul li a:hover {border-bottom: 1px solid #000;}
/*end*/

/*noticiasInterna*/
.noticias.noticiasInterna .descricao {width: 100%;margin: 75px 0;}
.noticias.noticiasInterna .descricao ul {list-style-type: disc; padding-left:20px;}
.noticias.noticiasInterna .descricao img {height:auto!important;}
.noticias.noticiasInterna img.top {min-width: 300px;max-width: 50%;display:block;margin: 0 auto;}
.noticias.noticiasInterna .compartilhe {width: 60%;padding: 0;}
.noticias.noticiasInterna .compartilhe ul li {text-align: center;}
/*end*/

/*vendaSeuImovel*/
.vendaImovel {margin: 75px 0;}
.vendaImovel h2 {margin-bottom: 40px;font-weight: 400;font-size: 20px;}
.vendaImovel .column {display: inline-block;width: 48%;vertical-align: top;}
.vendaImovel .forms input,.vendaImovel .forms textarea, .vendaImovel .forms select {margin: 0 0 20px;}
.vendaImovel .col30 {width: 28%;}
.vendaImovel .col50 {width: 48%;display: inline-block}
.vendaImovel .col50 + .col50 {margin-left:2.6%}
.vendaImovel .dados .col30 {width: 30.5%;}
.vendaImovel .col70 {width: 68%;}
.vendaImovel .column + .column {margin-left: 3%;}
.vendaImovel .forms button {margin-left: 10px;}
.forms select {}
/* ja sou cliente */
.ja-sou-cliente {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.ja-sou-cliente input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.ja-sou-cliente .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #cbcbcb;
}

/* On mouse-over, add a grey background color */
.ja-sou-cliente:hover input ~ .checkmark {
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.ja-sou-cliente input:checked ~ .checkmark {
    background-color: #cbcbcb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ja-sou-cliente .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.ja-sou-cliente input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.ja-sou-cliente .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*end*/

/*favoritos*/
.favoritosInterna .container {width: 1180px;}
.favoritosInterna .listagem a {width: 24%;}
.favoritosInterna .listagem a {margin-left: .3%;margin-right: .3%;}
.favoritosInterna .listagem .thumbnail .info {left: 10px;}
.favoritosInterna .listagem .thumbnail .infoDown {width: calc(100% - 20px); margin: 0 10px;}
/*end*/


.detalhes {width:100%; min-height:200px;background: #0b0b0b; box-sizing:border-box; padding-top:20px; position: relative; text-align: center;}
.detalhes .container{ height: 100%;}
.detalhes h1 {font-size: 40px; line-height: 35px; text-align: left; color:#e1e1e1; float: left; width: 45%; margin-bottom: 20px; padding: 0 30px; box-sizing: border-box; padding-top: 3px;}
.detalhes h1 small {font-size: 20px; }
.detalhes .link {margin: 0px 30px; color: #4a4a4a; font-size: 20px; z-index: 1; margin-bottom: 33px; float: left; width: 40%; text-align: left; box-sizing: border-box}
.detalhes .link:hover {color: #fff}
.detalhes .favoritar { padding: 0 5px 0 30px; color: #4a4a4a; font-size: 20px; z-index: 1; margin-bottom: 33px; float: right; width: auto; text-align: right; box-sizing: border-box; color:#e9e9e9;}
.detalhes .favoritar i { font-weight: 400;}
.detalhes .infos { float: right; width: 55%; text-align: left; color: #e9e9e9; font-size: 26px; padding: 0 5px 0 0; box-sizing: border-box; margin-top: 45px; }
.detalhes .infos i {color: #2980b9; margin-right: 5px;}
.detalhes .infos i + i {margin-left: 25px;}
.detalhes .infos .preco {float: right;line-height: 30px;font-size: 30px;margin-top: -30px;font-weight: bold;}
.detalhes .infos .preco span {font-size: 20px;font-weight: 400;}


#interesse{width: 100%; }
#interesse button {margin-left: 30%; margin-bottom: 20px; background: #000; border: none; color: #fff; border-radius: 5px; font-size: 20px; width: 200px; transition: all .3s ease; cursor: pointer;  border: 1px solid #000;  }
#interesse button:hover { background: #fff; color: #000; border: 1px solid #000; border-radius: 5px; }


/*
.reduzir
    {width:100%; height:50px ; text-align: right; box-shadow: none;
}

.linharesquerda{
    width: 50%;
}
.linhardireita{
    width: 50%;
    float: right;
    text-align: right;
}

*/